*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

@font-face {
  font-family: clash-regular;
  src: url(../font/clash-regular-webfont.woff2);
}
@font-face {
  font-family: supercell-hvy;
  src: url(../font/supercellheadline-heavy.woff2);
}
@font-face {
  font-family: supercell-md;
  src: url(../font/supercelltext_w_md.woff2);
}
@font-face {
  font-family: supercell-rg;
  src: url(../font/supercelltext_w_rg.woff2);
}
@keyframes bounceTop {
  0%, 100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: #e8e8e0;
  font-family: clash-regular, Arial, Helvetica, sans-serif;
}
html::-webkit-scrollbar {
  width: 0.3rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #f69d2d;
  border-radius: 0.15rem;
}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  padding: 0 6%;
  z-index: 10;
  background: linear-gradient(transparent, transparent 50%, #e8e8e0 50%, #e8e8e0);
  background-size: 100% 200%;
  transition: background 0.35s;
}
header.shadow {
  background-position: 100% 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
header.shadow nav.navbar .tab-indicator {
  background: #bab8a9;
}
header.shadow nav.navbar .tab-indicator span:nth-of-type(2) {
  background: rgba(255, 255, 255, 0.32);
}
header .logo, header nav {
  display: flex;
  align-items: center;
}
header .logo img.clan-badge {
  width: 60px;
  margin-right: 0.2rem;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.8));
}
header .logo h3 {
  text-shadow: -1px 0 1px black, 1px 0 1px black, 0 -1px 1px black, 0 4px 1px black, -2px 4px 1px black, 2px 3px 2px black;
  color: white;
}
header nav.navbar {
  position: relative;
}
header nav.navbar a {
  padding: 0.6rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  z-index: 2;
  -webkit-tap-highlight-color: transparent;
  transition: color 0.35s ease-out;
  text-shadow: -1px 0 1px black, 1px 0 1px black, 0 -1px 1px black, 0 3px 1px black, -2px 3px 1px black, 2px 2px 2px black;
}
header nav.navbar .tab-indicator {
  position: absolute;
  background: transparent;
  z-index: 1;
  border-radius: 0.35rem;
  box-shadow: 0px -3px 2px #6a6b66;
  transition: width 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4), left 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4), top 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
header nav.navbar .tab-indicator span {
  position: absolute;
  top: 2px;
  border-radius: 0.35rem;
}
header nav.navbar .tab-indicator span:nth-of-type(1) {
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 2px #f9f9f7;
}
header nav.navbar .tab-indicator span:nth-of-type(2) {
  width: 94%;
  height: 45%;
  background: rgba(255, 255, 255, 0.42);
  left: 50%;
  transform: translateX(-50%);
}
header .menu-btn {
  display: none;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
header .menu-btn.cross label input[type=checkbox]:checked + svg .line--1, header .menu-btn.cross label input[type=checkbox]:checked + svg .line--3 {
  --length: 22.627416998;
}
header .menu-btn.cross label input[type=checkbox]:checked + svg .line--2 {
  --length: 0;
}
header .menu-btn label {
  display: block;
  cursor: pointer;
  width: 90px;
  height: 90px;
}
header .menu-btn label input[type=checkbox] {
  display: none;
}
header .menu-btn label input[type=checkbox]:checked + svg .line--1, header .menu-btn label input[type=checkbox]:checked + svg .line--3 {
  --offset: -94.1149185097;
}
header .menu-btn label input[type=checkbox]:checked + svg .line--2 {
  --offset: -50;
}
header .menu-btn label svg path {
  fill: none;
  stroke: white;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}
header .menu-btn label svg path.line--1, header .menu-btn label svg path.line--3 {
  --total-length: 126.64183044433594;
}
header .menu-btn label svg path.line--2 {
  --total-length: 70;
}

main section {
  padding: 2rem 6%;
}
main section h1.heading {
  text-align: center;
  color: white;
  padding: 1rem 0;
  font-size: 1.75rem;
  text-shadow: -1px 0 1px black, 1px 0 1px black, 0 -1px 1px black, 0 4px 1px black, -2px 4px 1px black, 2px 3px 2px black;
}
main section h1.heading::after {
  content: "";
  display: block;
  width: 5rem;
  margin: 1rem auto 0;
  border-radius: 8px;
  border-bottom: 0.5rem solid #f69d2d;
}
main section h1.heading span {
  color: #f69d2d;
}
main section#home {
  display: grid;
  grid-template-areas: "home-img home-img home-title" "home-img home-img home-val" "home-img home-img home-val";
  padding-top: 5rem;
  height: 100vh;
  background-image: url(../images/bg_home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main section#home .home-image {
  display: grid;
  grid-area: home-img;
  position: relative;
  place-content: center;
  width: 50vw;
  height: 100%;
}
main section#home .home-image img.villager {
  height: 60vh;
  z-index: 1;
  animation: bounceTop 3.5s ease infinite;
}
main section#home .home-image .circle {
  position: absolute;
  width: 360px;
  height: 360px;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
main section#home .home-image .circle::before {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  left: 23px;
  top: 23px;
  transform-origin: 150px 150px;
  animation: rotate 8s linear infinite;
}
main section#home .home-title {
  display: grid;
  grid-area: home-title;
  place-content: center start;
}
main section#home .home-title h1 {
  font-size: 2.5rem;
  color: white;
  text-shadow: -1px 0 1px black, 1px 0 1px black, 0 -1px 1px black, 0 4px 1px black, -2px 4px 1px black, 2px 3px 2px black;
}
main section#home .home-title h1 span {
  color: #f69d2d;
}
main section#home .home-title h1 span img {
  display: none;
}
main section#home .home-val {
  display: grid;
  grid-area: home-val;
  place-content: start;
}
main section#home .home-val p {
  color: #fefefe;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  z-index: 2;
  text-shadow: -1px 0 1px black, 1px 0 1px black, 0 -1px 1px black, 0 4px 1px black, -2px 4px 1px black, 2px 3px 2px black;
}
main section#home .home-val .btn-getStarted .couche1 {
  position: relative;
  border-radius: 11px;
  width: 15rem;
  height: 5rem;
  background: black;
  margin: 1.5rem 0;
  box-shadow: 0px 11px 2px #301C09;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
main section#home .home-val .btn-getStarted .couche1:active {
  box-shadow: 0px 7px 2px #301C09;
  transform: translateY(4px);
}
main section#home .home-val .btn-getStarted .couche1:active .couche2 {
  box-shadow: 0px 5px 0px #AF6B06;
}
main section#home .home-val .btn-getStarted .couche1 .couche2 {
  position: absolute;
  border-radius: 10px;
  width: 97%;
  height: 95%;
  background: #FDA80D;
  transform: translate(-50%, -49%);
  left: 50%;
  top: 50%;
  box-shadow: 0px 9px 0px #AF6B06;
}
main section#home .home-val .btn-getStarted .couche1 .couche2 .couche2-3 {
  position: absolute;
  border-radius: 10px;
  width: 98%;
  height: 92%;
  background: none;
  transform: translate(-50%, -48%);
  left: 50%;
  top: 50%;
  box-shadow: 0px -4px 5px 0px #FFDC33;
}
main section#home .home-val .btn-getStarted .couche1 .couche2 .couche2-3 .couche3 {
  position: absolute;
  border-radius: 10px;
  width: 96%;
  height: 93%;
  background: #ffbb2a;
  transform: translate(-50%, -43%);
  left: 50%;
  top: 40%;
  box-shadow: 0px 4px 3px 0px #FE8906;
}
main section#home .home-val .btn-getStarted .couche1 .couche2 .couche2-3 .couche3 .couche4 {
  position: absolute;
  border-radius: 10px;
  width: 96%;
  height: 50%;
  background: #FFD053;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
}
main section#home .home-val .btn-getStarted .couche1 .couche2 .couche2-3 .couche3 .couche4 .couche5 {
  position: absolute;
  border-radius: 45%;
  width: 9px;
  height: 11px;
  background: #FFF1B6;
  top: 11%;
  right: 2%;
}
main section#home .home-val .btn-getStarted .couche1 .couche2 .couche2-3 .couche3 .couche4 .getStarted {
  position: absolute;
  text-decoration: none;
  width: 100%;
  top: 50%;
  color: #fefefe;
  text-align: center;
  font-size: 1.2rem;
  user-select: none;
  text-shadow: -1px 0 1px #582E00, 1px 0 1px #582E00, 0 -1px 1px #582E00, 0 4px 1px #582E00, -2px 4px 1px #582E00, 2px 3px 2px #582E00;
}
main section#clan .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2.5rem;
  padding-top: 1rem;
}
main section#clan .container article.definition {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.3rem;
  background: #fffdf0;
  border-radius: 1rem;
  box-shadow: 0 8px 2px #d0ccaf, 1px 0 8px rgba(0, 0, 0, 0.5);
}
main section#clan .container article.definition h3 {
  font-family: supercell-hvy;
  text-transform: capitalize;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: center;
}
main section#clan .container article.definition .clan-image {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: inherit;
  width: 180px;
  background: #e2e3d3;
  padding: 1.5rem 0;
}
main section#clan .container article.definition .clan-image img {
  width: 100px;
  z-index: 1;
  filter: drop-shadow(3px 3px 8px #797979);
}
main section#clan .container article.definition .clan-image svg {
  position: absolute;
}
main section#clan .container article.definition .clan-image svg .c-bg {
  fill: none;
  stroke-width: 99.7%;
  stroke-dasharray: 10;
  stroke: url(#grad);
  animation: rotate 30s infinite linear;
  transform-origin: 50px 50px;
}
main section#clan .container article.definition p {
  font-family: supercell-rg;
  padding: 1.3rem 0;
  font-weight: bold;
}
main section#clan .container article.definition p span {
  color: #f69d2d;
}
main section#clan .container article.detail {
  padding: 1.5rem 1.3rem;
  background: #7e7e64;
  background-image: url(../images/map_2.png);
  background-position: left;
  background-size: cover;
  border-radius: 1rem;
  box-shadow: 0 8px 2px #6c6c54, 1px 0 8px rgba(0, 0, 0, 0.5);
}
main section#clan .container article.detail hr {
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #3f3d31;
}
main section#clan .container article.detail hr::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
}
main section#clan .container article.detail .clan-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main section#clan .container article.detail .clan-header img {
  width: 80px;
}
main section#clan .container article.detail .clan-header div {
  color: #ffffcb;
  text-shadow: -1px 0 1px black, 1px 0 1px black, 0 -1px 1px black, 0 4px 1px black, -2px 4px 1px black, 2px 3px 2px black;
}
main section#clan .container article.detail .clan-header div h3 {
  font-size: 1.3rem;
}
main section#clan .container article.detail .clan-header div span {
  padding: 0.7rem 0;
  text-transform: uppercase;
  font-family: supercell-md;
  font-weight: bold;
}
main section#clan .container article.detail .clan-detail {
  margin-top: 1rem;
}
main section#clan .container article.detail .clan-detail .category {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0.35rem 0.5rem 0.5rem;
  font-family: supercell-md;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
  text-shadow: -1px 0 1px black, 1px 0 1px black, 0 -1px 1px black, 0 3px 1px black, -2px 3px 1px black, 2px 2px 2px black;
}
main section#clan .container article.detail .clan-detail .category .throphies {
  display: flex;
  flex-direction: row;
}
main section#clan .container article.detail .clan-detail .category .throphies span {
  display: flex;
  align-items: flex-end;
  margin-left: 1rem;
}
main section#clan .container article.detail .clan-detail .category .throphies span img {
  height: 1.5rem;
  margin: 0 0.2rem;
}
main section#clan .container article.detail .clan-detail .category .throphies span img.th-vs {
  height: 1.4rem;
}
main section#clan .container article.detail .war-stat {
  position: relative;
  margin-top: 1.5rem;
}
main section#clan .container article.detail .war-stat .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main section#clan .container article.detail .war-stat .title img {
  width: 30px;
  margin-right: 6px;
}
main section#clan .container article.detail .war-stat .title h4 {
  color: white;
  text-shadow: -1px 0 1px black, 1px 0 1px black, 0 -1px 1px black, 0 4px 1px black, -2px 4px 1px black, 2px 3px 2px black;
}
main section#clan .container article.detail .war-stat .details {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
main section#clan .container article.detail .war-stat .details div {
  flex: auto;
  align-items: center;
  padding: 0.5rem;
  text-shadow: -1px 0 1px black, 1px 0 1px black, 0 -1px 1px black, 0 3px 1px black, -2px 3px 1px black, 2px 2px 2px black;
}
main section#clan .container article.detail .war-stat .details div.wins {
  color: #d0efb3;
}
main section#clan .container article.detail .war-stat .details div.losses {
  color: #f9c7c6;
}
main section#clan .container article.detail .war-stat .details div.draws {
  color: #ccc;
}
main section#clan .container article.detail .war-stat .details div.total {
  color: #ffffcb;
}
main section#clan .container article.detail .war-stat .details div span {
  display: block;
  color: white;
}
main section#joinUs {
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100vh - 5rem);
  background-image: linear-gradient(to left bottom, #021847, #023665, #0f5582, #28759c, #4697b5);
}
main section#joinUs .container {
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100%;
}
main section#joinUs .container .carousel {
  display: flex;
  position: relative;
  padding: 0 1rem;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  flex: 50%;
}
main section#joinUs .container .carousel .carousel-item {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  position: absolute;
  width: 90%;
  opacity: 0;
  pointer-events: none;
  will-change: transform, opacity;
  animation: carousel-animate-vertical 20s linear infinite;
}
@keyframes carousel-animate-vertical {
  0% {
    transform: translateY(100%) scale(0.2);
    opacity: 0;
    visibility: hidden;
  }
  2%, 10% {
    transform: translateY(100%) scale(0.3);
    opacity: 0.3;
    visibility: visible;
  }
  12%, 20% {
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  22%, 30% {
    transform: translateY(-100%) scale(0.3);
    opacity: 0.4;
    visibility: visible;
  }
  32% {
    transform: translateY(-100%) scale(0.2);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}
main section#joinUs .container .carousel .carousel-item:nth-of-type(1) {
  animation-delay: calc(2s * -1);
}
main section#joinUs .container .carousel .carousel-item:nth-of-type(2) {
  animation-delay: calc(2s * 0);
}
main section#joinUs .container .carousel .carousel-item:nth-of-type(3) {
  animation-delay: calc(2s * 1);
}
main section#joinUs .container .carousel .carousel-item:nth-of-type(4) {
  animation-delay: calc(2s * 2);
}
main section#joinUs .container .carousel .carousel-item:nth-of-type(5) {
  animation-delay: calc(2s * 3);
}
main section#joinUs .container .carousel .carousel-item:nth-of-type(6) {
  animation-delay: calc(2s * 4);
}
main section#joinUs .container .carousel .carousel-item:nth-of-type(7) {
  animation-delay: calc(2s * 5);
}
main section#joinUs .container .carousel .carousel-item:nth-of-type(8) {
  animation-delay: calc(2s * 6);
}
main section#joinUs .container .carousel .carousel-item:nth-of-type(9) {
  animation-delay: calc(2s * 7);
}
main section#joinUs .container .carousel .carousel-item:nth-last-of-type(1) {
  animation-delay: calc(-2s * 2);
}
main section#joinUs .container .carousel .carousel-item img {
  height: 55vh;
}
main section#joinUs .container .content {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: -1px 0 1px black, 1px 0 1px black, 0 -1px 1px black, 0 4px 1px black, -2px 4px 1px black, 2px 3px 2px black;
}
main section#joinUs .container .content h1.title {
  font-size: 2.5rem;
  padding: 2rem 0 1rem;
  color: #fffdf0;
}
main section#joinUs .container .content p {
  padding-bottom: 1.5rem;
  color: #fffdf0;
  font-size: 1.35rem;
}
main section#joinUs .container .content .btn-join {
  display: inline-block;
  font-size: 1.3rem;
  box-shadow: 0 7px #1d6ad2;
  color: white;
  width: fit-content;
  background-image: linear-gradient(to bottom, #4babff, #3aa0fd, #2b95fb, #1d8af8, #157ef4);
  border-radius: 1rem;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  padding: 1rem 4rem;
}
main section#joinUs .container .content .btn-join:active {
  transform: translateY(4px);
  box-shadow: 0 4px #1d6ad2;
}
main section#joinUs .circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main section#joinUs .circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 8s linear infinite;
  bottom: -150px;
}
main section#joinUs .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
main section#joinUs .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
main section#joinUs .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
main section#joinUs .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
main section#joinUs .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
main section#joinUs .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
main section#joinUs .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
main section#joinUs .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
main section#joinUs .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
main section#joinUs .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@media (max-width: 992px) {
  section {
    padding: 2rem 2rem;
  }
  header {
    padding: 0 2rem;
  }
  main section#joinUs .container .content h1.title {
    font-size: 2rem;
  }
  main section#joinUs .container .content p {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  section {
    padding: 2rem 1.3rem;
  }
  header {
    padding: 0 1.3rem;
    background: linear-gradient(transparent, transparent 50%, #5e5452 50%, #5e5452);
    background-size: 100% 200%;
  }
  header.header-queries {
    background-position: 100% 100%;
  }
  header nav.navbar {
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    top: 5rem;
    left: 0;
    right: 0;
    gap: 1rem;
    background: #e8e8e0;
    background-image: url(../images/map.png);
    background-position: center;
    background-size: cover;
    padding: 2rem 0;
    height: calc(100vh - 5rem);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s linear;
  }
  header nav.navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header nav.navbar .tab-indicator {
    background: #bab8a9;
  }
  header nav.navbar a {
    font-size: 1.1rem;
    display: block;
    width: 50%;
  }
  header .menu-btn {
    display: inline-block;
  }
  main section#home .home-image img.villager {
    height: 50vh;
  }
  main section#home .home-image .circle {
    width: 300px;
    height: 300px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  main section#home .home-image .circle::before {
    content: "";
    height: 40px;
    width: 40px;
    left: 23px;
    top: 23px;
    transform-origin: 125px 125px;
  }
  main section#home .home-title {
    padding: 0 0.85rem;
  }
  main section#home .home-title h1 {
    font-size: 2rem;
  }
  main section#home .home-val {
    padding: 0 0.85rem;
  }
  main section#home .home-val p {
    font-size: 1rem;
  }
  main section#home .home-val .btn-getStarted .couche1 {
    width: 12rem;
    height: 4rem;
  }
  main section#home .home-val .btn-getStarted .couche1 .couche2 .couche2-3 .couche3 .couche4 .getStarted {
    font-size: 1rem;
  }
  main section#clan .container {
    padding: 1rem 10% 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  main section#joinUs .container .carousel {
    padding: 0;
  }
  main section#joinUs .container .carousel .carousel-item {
    width: 100%;
  }
  main section#joinUs .container .carousel .carousel-item img {
    height: 47vh;
  }
  main section#joinUs .container .content {
    padding: 0 1rem;
  }
  main section#joinUs .container .content h1.title {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  section {
    padding: 2rem 0.5rem;
  }
  header {
    padding: 0 0.6rem;
  }
  header .logo {
    margin-left: 0.25rem;
  }
  header .logo img.clan-badge {
    width: 45px;
  }
  header .logo h3 {
    font-size: 0.9rem;
  }
  main section#home {
    gap: 0.5rem;
    grid-template-areas: "home-title home-title home-title" "home-img home-img home-img" "home-val home-val home-val";
  }
  main section#home .home-title {
    padding-top: 1rem;
    place-content: center;
  }
  main section#home .home-title h1 {
    font-size: 1.8rem;
  }
  main section#home .home-title h1 span {
    position: relative;
  }
  main section#home .home-title h1 span img {
    display: inline-block;
    position: absolute;
    width: 28px;
    top: -19px;
    left: -5px;
    transform: rotate(-6deg);
  }
  main section#home .home-image {
    width: 100%;
    height: 40vh;
    place-content: end center;
  }
  main section#home .home-image img.villager {
    height: 30vh;
  }
  main section#home .home-image .circle {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  main section#home .home-image .circle::before {
    content: "";
    height: 35px;
    width: 35px;
    left: 12px;
    top: 12px;
    transform-origin: 88px 88px;
  }
  main section#home .home-val {
    height: 40vh;
  }
  main section#home .home-val p {
    font-size: 1rem;
    text-align: center;
  }
  main section#home .home-val .btn-getStarted .couche1 {
    width: 15rem;
    height: 4rem;
    margin: 1.5rem auto;
  }
  main section#home .home-val .btn-getStarted .couche1 .couche2 .couche2-3 .couche3 .couche4 .getStarted {
    font-size: 1rem;
  }
  main section#clan .container {
    gap: 1.7rem;
    padding: 1rem 0.35rem;
  }
  main section#clan .container article.detail {
    background-position: center;
  }
  main section#clan .container article.detail .clan-detail {
    font-size: 0.9rem;
  }
  main section#clan .container article.detail .war-stat .details {
    font-size: 0.85rem;
  }
  main section#joinUs .container {
    flex-direction: column;
    height: 68vh;
  }
  main section#joinUs .container .carousel {
    flex: 100%;
    flex-direction: row;
  }
  main section#joinUs .container .carousel .carousel-item {
    width: 33.3333333333%;
    animation: carousel-animate-vertical 20s linear infinite;
    overflow: visible;
  }
  @keyframes carousel-animate-vertical {
    0% {
      transform: translateX(100%) scale(0.2);
      opacity: 0;
      visibility: hidden;
    }
    2%, 10% {
      transform: translateX(100%) scale(0.3);
      opacity: 0.3;
      visibility: visible;
    }
    12%, 20% {
      transform: translateX(0) scale(1);
      opacity: 1;
      visibility: visible;
    }
    22%, 30% {
      transform: translateX(-100%) scale(0.3);
      opacity: 0.4;
      visibility: visible;
    }
    32% {
      transform: translateX(-100%) scale(0.2);
      opacity: 0;
      visibility: visible;
    }
    100% {
      transform: translateX(-100%) scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
  }
  main section#joinUs .container .carousel .carousel-item img {
    height: 35vh;
  }
  main section#joinUs .container .content h1.title {
    text-align: center;
    font-size: 1.75rem;
  }
  main section#joinUs .container .content p {
    text-align: center;
  }
  main section#joinUs .container .content .btn-join {
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */