*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

// Color
$primary : #f69d2d;
$gray-1 : #e8e8e0;
$gray-2 : #bab8a9;
$gray-3 : #d0ccaf;
$gray-4 : #e2e3d3;
$gray-5 : #797979;
$gray-6 : #7e7e64;
$gray-7 : #6c6c54;
$gray-8 : #ffffcb;
$white-1 : #fefefe;
$white-2: #fffdf0;
$bg-head-md-sm : #5e5452;
$tab-ind-shadow-up : #6a6b66;
$tab-ind-shadow-down : #f9f9f7;

// carousel
$animation-timing: 20s;
$carousel-items: 10;
$animation-delay-fraction: calc($animation-timing / $carousel-items);
$animation-steps-fraction: calc(100 / $carousel-items);
$slide-change-timing: 2;

// Font
@font-face {
  font-family: clash-regular;
  src: url(../font/clash-regular-webfont.woff2);
}

@font-face {
  font-family: supercell-hvy;
  src: url(../font/supercellheadline-heavy.woff2);
}

@font-face {
  font-family: supercell-md;
  src: url(../font/supercelltext_w_md.woff2);
}

@font-face {
  font-family: supercell-rg;
  src: url(../font/supercelltext_w_rg.woff2);
}

// Mixin 
@mixin tmplTextShadow($y1: 4px, $y2: 3px, $color: black) {
  text-shadow: -1px 0 1px $color, 
               1px 0 1px $color,
               0 -1px 1px $color,
               0 $y1 1px $color,
               -2px $y1 1px $color,
               2px $y2 2px $color;
}

@mixin couche($pos, $br, $w, $h, $bg) {
  position: $pos;
  border-radius: $br;
  width: $w;
  height: $h;
  background: $bg;
}

@mixin separator($vertical: false) {
  hr {
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    
    @if ($vertical) {
      background-color: #959593;
      width: 3px;
      top: 0;
    } @else {
      right: 0;
      height: 3px;
      background-color: #3f3d31;
    }
    
    &::before {
      content: '';
      position: absolute;
      background-color: rgba(white, .5);
      left: 0;
      bottom: 0;
      
      @if ($vertical) {
        width: 2px;
        top: 0;
      } @else {
        right: 0;
        height: 2px;
      }
    }
  }
}

@mixin carousel($direction) {
  animation: carousel-animate-vertical $animation-timing linear infinite;

  @keyframes carousel-animate-vertical {
    0% {
      transform: translate#{$direction}(100%) scale(0.2);
      opacity: 0;
      visibility: hidden;
    }

    #{$slide-change-timing*1%}, #{$animation-steps-fraction*1%} {
      transform: translate#{$direction}(100%) scale(.3);
      opacity: .3;
      visibility: visible;
    }
    
    #{($animation-steps-fraction + $slide-change-timing)*1%}, #{($animation-steps-fraction*2)*1%} {
      transform: translate#{$direction}(0) scale(1);
      opacity: 1;
      visibility: visible;
    }

    #{($animation-steps-fraction*2 + $slide-change-timing)*1%}, #{($animation-steps-fraction*3)*1%} {
      transform: translate#{$direction}(-100%) scale(.3);
      opacity: .4;
      visibility: visible;
    }

    #{(($animation-steps-fraction*3) + $slide-change-timing)*1%} {
      transform: translate#{$direction}(-100%) scale(.2);
      opacity: 0;
      visibility: visible;
    }

    100% {
      transform: translate#{$direction}(-100%) scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
  }
}

// Keyframes 
@keyframes bounceTop {
  0%, 100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: $gray-1;
  font-family: clash-regular, Arial, Helvetica, sans-serif;

  &::-webkit-scrollbar{
    width:.3rem;
  }
  
  &::-webkit-scrollbar-track{
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb{
    background: $primary;
    border-radius: .15rem;
  }
}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  padding: 0 6%;
  z-index: 10;
  background: linear-gradient(transparent, transparent 50%, $gray-1 50%, $gray-1);
  background-size: 100% 200%;
  transition: background .35s;

  &.shadow {
    background-position: 100% 100%;
    box-shadow: 0 .5rem 1rem rgba(black, .2);

    nav.navbar .tab-indicator {
      background: $gray-2;

      span:nth-of-type(2) {
        background: rgba(white, .32);
      }
    }
  }

  .logo, nav {
    display: flex;
    align-items: center;
  }

  .logo {
    img.clan-badge {
      width: 60px;
      margin-right: .2rem;
      filter: drop-shadow(2px 2px 3px rgba(black, .8));
    }

    h3 {
      @include tmplTextShadow();
      color: white;
    }
  }

  nav.navbar {
    position: relative;

    a {
      padding: .6rem 1rem;
      text-align: center;
      text-decoration: none;
      text-transform: capitalize;
      color: white;
      z-index: 2;
      -webkit-tap-highlight-color: transparent;
      transition: color .35s ease-out;
      @include tmplTextShadow($y1: 3px, $y2: 2px);
    }

    .tab-indicator {
      position: absolute;
      background: transparent;
      z-index: 1;
      border-radius: .35rem;
      box-shadow: 0px -3px 2px $tab-ind-shadow-up;
      transition: width .5s cubic-bezier(.8, .5, .2, 1.4),
                  left .5s cubic-bezier(.8, .5, .2, 1.4),
                  top .5s cubic-bezier(.8, .5, .2, 1.4);

      span {
        position: absolute;
        top: 2px;
        border-radius: .35rem;

        &:nth-of-type(1) {
          width: 100%;
          height: 100%;
          box-shadow: 0px 2px 2px $tab-ind-shadow-down;
        }

        &:nth-of-type(2) {
          width: 94%;
          height: 45%;
          background: rgba(white, .42);
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .menu-btn {
    display: none;
    position: relative;
    -webkit-tap-highlight-color: transparent;

    &.cross {
      label input[type="checkbox"]:checked + svg {
        .line--1, .line--3 {
          --length: 22.627416998;
        }
        .line--2 {
          --length: 0;
        }
      }
    }

    label {
      display: block;
      cursor: pointer;
      width: 90px;
      height: 90px;

      input[type="checkbox"] {
        display: none;

        &:checked + svg {
          .line--1, .line--3 {
            --offset: -94.1149185097;
          }
          .line--2 {
            --offset: -50;
          }
        }
      }

      svg {
        path {
          fill: none;
          stroke: white;
          stroke-width: 4;
          stroke-linecap: round;
          stroke-linejoin: round;
          filter: drop-shadow(1px 1px 2px rgba(black, .7));
          --length: 24;
          --offset: -38;
          stroke-dasharray: var(--length) var(--total-length);
          stroke-dashoffset: var(--offset);
          transition: all .8s cubic-bezier(.645, .045, .355, 1);

          &.line--1, &.line--3 {
            --total-length: 126.64183044433594;
          }

          &.line--2 {
            --total-length: 70;
          }
        }
      }
    }
  }
}

main {
  section {
    padding: 2rem 6%;
  
    h1.heading {
      text-align: center;
      color: white;
      padding: 1rem 0;
      font-size: 1.75rem;
      @include tmplTextShadow();
  
      &::after {
        content: '';
        display: block;
        width: 5rem;
        margin: 1rem auto 0;
        border-radius: 8px;
        border-bottom: .5rem solid $primary;
      }
  
      span {
        color: $primary;
      }
    }
  }

  section#home {
    display: grid;
    grid-template-areas: 'home-img home-img home-title'
                         'home-img home-img home-val'
                         'home-img home-img home-val';
    padding-top: 5rem;
    height: 100vh;
    background-image: url(../images/bg_home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .home-image {
      display: grid;
      grid-area: home-img;
      position: relative;
      place-content: center;
      width: 50vw;
      height: 100%;

      img.villager {
        height: 60vh;
        z-index: 1;
        animation: bounceTop 3.5s ease infinite;
      }

      .circle {
        position: absolute;
        width: 360px;
        height: 360px;
        top: 5%; 
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid rgba(white, .4);
        border-radius: 50%;
        
        &::before {
          content: '';
          position: absolute;
          height: 60px;
          width: 60px;
          background-color: rgba(white, .6);
          border-radius: 50%;
          left: 23px;
          top: 23px;
          transform-origin: 150px 150px;
          animation: rotate 8s linear infinite;
        }
      }
    }

    .home-title {
      display: grid;
      grid-area: home-title;
      place-content: center start;

      h1 {
        font-size: 2.5rem;
        color: white;
        @include tmplTextShadow();

        span { 
          color: $primary;

          img {
            display: none;
          }
        }
      }
    }

    .home-val {
      display: grid;
      grid-area: home-val;
      place-content: start;

      p {
        color: $white-1;
        font-size: 1.3rem;
        margin: 0;
        padding: 0;
        z-index: 2;
        @include tmplTextShadow();
      }

      .btn-getStarted {
        .couche1 {
          @include couche(relative, 11px, 15rem, 5rem, black);
          margin: 1.5rem 0;
          box-shadow: 0px 11px 2px #301C09;
          -webkit-tap-highlight-color: transparent;
          cursor: pointer;

          &:active {
            box-shadow: 0px 7px 2px #301C09;
            transform: translateY(4px);

            .couche2 {
              box-shadow: 0px 5px 0px #AF6B06;
            }
          }

          .couche2 {
            @include couche(absolute, 10px, 97%, 95%, #FDA80D);
            transform: translate(-50%, -49%);
            left: 50%;
            top: 50%;
            box-shadow: 0px 9px 0px #AF6B06;

            .couche2-3 {
              @include couche(absolute, 10px, 98%, 92%, none);
              transform: translate(-50%, -48%);
              left: 50%;
              top: 50%;
              box-shadow: 0px -4px 5px 0px #FFDC33;

              .couche3 {
                @include couche(absolute, 10px, 96%, 93%, #ffbb2a);
                transform: translate(-50%, -43%);
                left: 50%;
                top: 40%;
                box-shadow: 0px 4px 3px 0px #FE8906;

                .couche4 {
                  @include couche(absolute, 10px, 96%, 50%, #FFD053);
                  left: 50%;
                  top: 10%;
                  transform: translate(-50%, 0);

                  .couche5 {
                    @include couche(absolute, 45%, 9px, 11px, #FFF1B6);
	                  top: 11%;
	                  right: 2%
                  }

                  .getStarted {
                    position: absolute;
                    text-decoration: none;
                    width: 100%;
                    top: 50%;
                    color: $white-1;
                    text-align: center;
                    font-size: 1.2rem;
                    user-select: none;
                    @include tmplTextShadow($color: #582E00)
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  section#clan {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 2.5rem;
      padding-top: 1rem;

      article {
        &.definition {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 2rem 1.3rem;
          background: $white-2;
          border-radius: 1rem;
          box-shadow: 0 8px 2px $gray-3, 1px 0 8px rgba(black, .5);

          h3 {
            font-family: supercell-hvy;
            text-transform: capitalize;
            font-weight: bold;
            padding-bottom: 1rem;
            text-align: center;
          }

          .clan-image {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-radius: inherit;
            width: 180px;
            background: $gray-4;
            padding: 1.5rem 0;

            img {
              width: 100px;
              z-index: 1;
              filter: drop-shadow(3px 3px 8px $gray-5);
            }

            svg {
              position: absolute;

              .c-bg {
                fill: none;
                stroke-width: 99.7%;
                stroke-dasharray: 10;
                stroke: url(#grad);
                animation: rotate 30s infinite linear;
                transform-origin: 50px 50px;
              }
            }
          }

          p {
            font-family: supercell-rg;
            padding: 1.3rem 0;
            font-weight: bold;

            span {
              color: $primary;
            }
          }
        }

        &.detail {
          padding: 1.5rem 1.3rem;
          background: $gray-6;
          background-image: url(../images/map_2.png);
          background-position: left;
          background-size: cover;
          border-radius: 1rem;
          box-shadow: 0 8px 2px $gray-7, 1px 0 8px rgba(black, .5);
          @include separator();

          .clan-header {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
              width: 80px;
            }

            div {
              color: $gray-8;
              @include tmplTextShadow();

              h3 {
                font-size: 1.3rem;
              }

              span {
                padding: .7rem 0;
                text-transform: uppercase;
                font-family: supercell-md;
                font-weight: bold;
              }
            }
          }

          .clan-detail {
            margin-top: 1rem;

            .category {
              display: flex;
              flex-direction: row;
              position: relative;
              align-items: center;
              justify-content: space-between;
              padding: .35rem .5rem .5rem;
              font-family: supercell-md;
              font-weight: bold;
              text-transform: capitalize;
              color: white;
              @include tmplTextShadow($y1: 3px, $y2: 2px);

              .throphies {
                display: flex;
                flex-direction: row;

                span {
                  display: flex;
                  align-items: flex-end;
                  margin-left: 1rem;

                  img {
                    height: 1.5rem;
                    margin: 0 .2rem;

                    &.th-vs {
                      height: 1.4rem;
                    }
                  }
                }
              }
              
            }
          }

          .war-stat {
            position: relative;
            margin-top: 1.5rem;

            .title {
              display: flex;
              flex-direction: row;
              align-items: center;

              img {
                width: 30px;
                margin-right: 6px;
              }

              h4 {
                color: white;
                @include tmplTextShadow();
              }
            }

            .details {
              display: flex;
              align-items: center;
              padding-top: 1rem;

              div {
                flex: auto;
                align-items: center;
                padding: .5rem;
                @include tmplTextShadow($y1: 3px, $y2: 2px);

                &.wins {
                  color: #d0efb3;
                }

                &.losses {
                  color: #f9c7c6;
                }

                &.draws {
                  color: #ccc;
                }

                &.total {
                  color: $gray-8;
                }

                span {
                  display: block;
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }

  section#joinUs {
    display: flex;
    position: relative;
    flex-direction: column;
    height: calc(100vh - 5rem);
    background-image: linear-gradient(to left bottom, #021847, #023665, #0f5582, #28759c, #4697b5);

    .container {
      display: flex;
      z-index: 1;
      width: 100%;
      height: 100%;

      .carousel {
        display: flex;
        position: relative;
        padding: 0 1rem;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        flex: 50%;

        .carousel-item {
          display: flex;
          align-items: center;
          overflow: hidden;
          justify-content: center;
          position: absolute;
          width: 90%;
          opacity: 0;
          pointer-events: none;
          will-change: transform, opacity;
          @include carousel(Y);

          @for $i from 1 through ($carousel-items - 1) {
            &:nth-of-type(#{$i}) {
              animation-delay: calc(#{$animation-delay-fraction} * #{$i - 2});
            }
          }

          &:nth-last-of-type(1) {
            animation-delay: calc(-#{$animation-delay-fraction} * 2);
          }

          img {
            height: 55vh;
          }
        }
      }

      .content {
        flex: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include tmplTextShadow();

        h1.title {
          font-size: 2.5rem;
          padding: 2rem 0 1rem;
          color: $white-2;
        }
  
        p {
          padding-bottom: 1.5rem;
          color: $white-2;
          font-size: 1.35rem;
        }

        .btn-join {
          display: inline-block;
          font-size: 1.3rem;
          box-shadow: 0 7px #1d6ad2;
          color: white;
          width: fit-content;
          background-image: linear-gradient(to bottom, #4babff, #3aa0fd, #2b95fb, #1d8af8, #157ef4);
          border-radius: 1rem;
          text-decoration: none;
          -webkit-tap-highlight-color: transparent;
          padding: 1rem 4rem;

          &:active {
            transform: translateY(4px);
            box-shadow: 0 4px #1d6ad2;
          }
        }
      }
    }

    .circles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(white, .2);
        animation: animate 8s linear infinite;
        bottom: -150px;

        &:nth-child(1){
          left: 25%;
          width: 80px;
          height: 80px;
          animation-delay: 0s;
        }
        
        &:nth-child(2){
          left: 10%;
          width: 20px;
          height: 20px;
          animation-delay: 2s;
          animation-duration: 12s;
        }
      
      &:nth-child(3){
          left: 70%;
          width: 20px;
          height: 20px;
          animation-delay: 4s;
      }
      
      &:nth-child(4){
          left: 40%;
          width: 60px;
          height: 60px;
          animation-delay: 0s;
          animation-duration: 18s;
      }
      
      &:nth-child(5){
          left: 65%;
          width: 20px;
          height: 20px;
          animation-delay: 0s;
      }
      
      &:nth-child(6){
          left: 75%;
          width: 110px;
          height: 110px;
          animation-delay: 3s;
      }
      
      &:nth-child(7){
          left: 35%;
          width: 150px;
          height: 150px;
          animation-delay: 7s;
      }
      
      &:nth-child(8){
          left: 50%;
          width: 25px;
          height: 25px;
          animation-delay: 15s;
          animation-duration: 45s;
      }
      
      &:nth-child(9){
          left: 20%;
          width: 15px;
          height: 15px;
          animation-delay: 2s;
          animation-duration: 35s;
      }
      
      &:nth-child(10){
          left: 85%;
          width: 150px;
          height: 150px;
          animation-delay: 0s;
          animation-duration: 11s;
      }
      }
    }
  }
}

// Media Queries
@media (max-width: 992px) {
  section {
    padding: 2rem 2rem;
  }

  header {
    padding: 0 2rem;
  }

  main {
    section#joinUs {
      .container {
        .content {
          h1.title {
            font-size: 2rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section {
    padding: 2rem 1.3rem;
  }

  header {
    padding: 0 1.3rem;
    background: linear-gradient(transparent, transparent 50%, $bg-head-md-sm 50%, $bg-head-md-sm);
    background-size: 100% 200%;
    
    &.header-queries {
      background-position: 100% 100%;
    }

    nav.navbar {
      flex-direction: column;
      position: absolute;
      overflow: hidden;
      top: 5rem;
      left: 0;
      right: 0;
      gap: 1rem;
      background: $gray-1;
      background-image: url(../images/map.png);
      background-position: center;
      background-size: cover;
      padding: 2rem 0;
      height: calc(100vh - 5rem);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .2s linear;

      &.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }

      .tab-indicator {
        background: $gray-2;
      }

      a {
        font-size: 1.1rem;
        display: block;
        width: 50%;
      }
    }

    .menu-btn {
      display: inline-block;
    }
  }

  main {
    section#home {
      .home-image {
        img.villager {
          height: 50vh;
        }
        .circle {
          width: 300px;
          height: 300px;
          top: 10%;
          left: 50%;
          transform: translateX(-50%);
          
          &::before {
            content: '';
            height: 40px;
            width: 40px;
            left: 23px;
            top: 23px;
            transform-origin: 125px 125px;
          }
        }
      }

      .home-title {
        padding: 0 .85rem;
        h1 {
          font-size: 2rem;
        }
      }

      .home-val {
        padding: 0 .85rem;

        p {
          font-size: 1rem;
        }

        .btn-getStarted {
          .couche1 {
            width: 12rem;
            height: 4rem;

            .couche2 .couche2-3 .couche3 .couche4 .getStarted {
              font-size: 1rem;
            }
          }
        }
      }
    }

    section#clan {
      .container {
        padding: 1rem 10% 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
      }
    }

    section#joinUs {
      .container {
        .carousel {
          padding: 0;

          .carousel-item {
            width: 100%;

            img {
              height: 47vh;
            }
          }
        }
        .content {
          padding: 0 1rem;
          h1.title {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  section {
    padding: 2rem .5rem;
  }

  header {
    padding: 0 .6rem;

    .logo {
      margin-left: .25rem;

      img.clan-badge {
        width: 45px;
      }
      
      h3 {
        font-size: .9rem;
      }
    }
  }

  main {
    section#home {
      gap:.5rem;
      grid-template-areas: 'home-title home-title home-title'
                           'home-img home-img home-img'
                           'home-val home-val home-val';

      .home-title {
        padding-top: 1rem;
        place-content: center;
                    
        h1 {
          font-size: 1.8rem;
                    
          span {
            position: relative;
                    
            img {
              display: inline-block;
              position: absolute;
              width: 28px;
              top: -19px;
              left: -5px;
              transform: rotate(-6deg);
            }
          }
        }
      }

      .home-image {
        width: 100%;
        height: 40vh;
        place-content: end center;

        img.villager {
          height: 30vh;
        }

        .circle {
          width: 200px;
          height: 200px;
          top: 10%;
          left: 50%;
          transform: translateX(-50%);
          
          &::before {
            content: '';
            height: 35px;
            width: 35px;
            left: 12px;
            top: 12px;
            transform-origin: 88px 88px;
          }
        }
      }

      .home-val {
        height: 40vh;
        p {
          font-size: 1rem;
          text-align: center;
        }

        .btn-getStarted {
          .couche1 {
            width: 15rem;
            height: 4rem;
            margin: 1.5rem auto;

            .couche2 .couche2-3 .couche3 .couche4 .getStarted {
              font-size: 1rem;
            }
          }
        }
      }
    }

    section#clan {
      .container {
        gap: 1.7rem;
        padding: 1rem .35rem;

        article {
          &.detail {
            background-position: center;

            .clan-detail {
              font-size: .9rem;
            }

            .war-stat {
              .details {
                font-size: .85rem;
              }
            }
          }
        }
      }
    }

    section#joinUs {
      
      .container {
        flex-direction: column;
        height: 68vh;

        .carousel {
          flex: 100%;
          flex-direction: row;

          .carousel-item  {
            width: calc(100% / 3);
            @include carousel(X);
            overflow: visible;

            img {
              height: 35vh;
            }
          }
        }
        .content {
          h1.title {
            text-align: center;
            font-size: 1.75rem;
          }

          p {
            text-align: center;
          }

          .btn-join {
            margin: 0 auto;
          }
        }
      }
    }
  }
}